<% include partials/header %>
  <style>
    .copy:hover {
      color: #fff;
    }
  </style>
  <div id="fb-root"></div>
  <div class="wrapper">
    <div class="container">
      <!-- TRIM LOGO -->
      <div class="row">
        <div class="col-md-12 col-lg-12 col-sm-12">
          <a href="/"> <img src="https://res.cloudinary.com/leankhan/image/upload/v1570985383/trim/trim-logo-2.png" alt="trim-logo" class="trim-logo" /></a>

          <h1 class="mb-2">Shorten Your Links</h1>
          <h5 class="small-heading ">
            ...the platform that gets all links trimmed efficiently
          </h5>
          <!-- INPUT URL -->
          <div class="row">
            <div class="col-md-12 col-lg-12 col-sm-12" style="margin: 0 auto;">
              <form class="trim-url-form" style="margin: 0 auto;">
                <div class="mb-3">
                  <div class="toggle-radio">
                    <input type="radio" name="rdo" id="simple" checked>
                    <input type="radio" name="rdo" id="advance">
                    <div class="switch">
                      <label for="simple">Simple</label>
                      <label for="advance">Advance</label>
                      <span></span>
                    </div>
                  </div>
                </div>
                <div id="form-type" class="form-type">
                  <div id="simple-form">
                    <div class="input-group mb-2">
                      <input type="text" class="form-control form-control-lg" name="long_url" required />
                      <input type="hidden" name="created_by" value="<%=created_by%>">
                      <div class="input-group-append">
                        <button type="submit" onclick="closeAlert()" class="btn btn-success custom-btn"><i class="fas fa-cut fa-lg" style="width: 30px;"></i></button>
                      </div>
                    </div>
                  </div>
                  <div id="advance-form">
                    <div class="input-groupp mb-2">
                      <input type="hidden" id="created_by " name="created_by" value="<%=created_by%>">
                      <input type="text" class="form-control form-control-lg" id="long_url" name="long_url" placeholder="URL" required />
                    </div>
                    <div class="input-groupp mb-2">
                      <input type="text" class="form-control form-control-lg" id="custom_url" name="custom_url" placeholder="Custom URL">
                    </div>
                    <div class="input-groupp mb-2">
                      <input id="expiry_date" name="expiry_date" class="form-control form-control-lg" type="text" max="9999-12-31" placeholder="Expiry Date " onfocusin="(this.type='date')" onfocusout="(this.type='text') ">
                    </div>
                    <div class="float-left mb 4">
                      <button type="submit " onclick="closeAlert()" class="btn btn-success custom-btn btn-advance"><i class="fas fa-cut fa-lg "></i>&nbsp;&nbsp;Trim</button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>

          <!-- LINK OVERVIEW SECTION -->
          <section class="mb-4 mt-3">
            <div class="container">
              <div id="msg" class="alert alert-danger btn-advance" style="display:none;margin:0 auto;">
                <a href="# " class="fa-pull-right" onclick="closeAlert()" aria-label="close">&times;</a>
              </div>
            </div>
          </section>


          <div class="container col-md-12" id="clips-list-container">
						<i class="scroll-indicator">Scroll &xrArr;</i>
            <div class="card click-metrics ">
              <table class="table ">
                <thead>
                  <tr id="table-head ">
                    <th width="15% " scope="col "><span class="click-title ">Clicks</span> <span class="click-icon "><i class="fas fa-mouse-pointer fa-lg "></i></span></th>
                    <th scope="col ">Trimmed url</th>
                    <th scope="col "></th>
                    <th scope="col ">Original url</th>
                    <th scope="col ">Expiry Date</th>
									</tr>
								</thead>
								
                <tbody id='tbody'>
                  <% for (let clip of userClips) {%>
                    <tr id="table-body">
                      <td>
                        <a id="clipCount" href="#chartModal" data-clip="<%=clip._id%>" data-toggle="modal">
                          <%=clip.click_count%>
                        </a>
                      </td>
                      <td>
                        <a class="trimmed" target="_blank" href="/<%=clip.urlCode%>">
                          <%=clip.clipped_url%>
                        </a>
                      </td>
                      <td class="action-btn">
                        <a href="javascript:void(0);" class="fas fa-copy fa-lg copy" data="<%=clip.clipped_url%>" data-tippy-placement="top" data-tippy-content="COPIED!">
                        </a>
                        <% let clipText = " \n Amazingly shortened with trimly. Visit http://trimly.tk to trim your Links!!!";%>
                          <!--add text and url link to copied clip-->
                          <a href="https://api.whatsapp.com/send?&text=<%=clip.clipped_url+' '+ clipText%>*" target="_blank">	                                                        <a href="https://api.whatsapp.com/send?&text=<%=clip.clipped_url+' '+ clipText %>"><!--remove extra * from whatsapp sharing link-->
                            <i class="fab fa-whatsapp fa-lg"></i>
                          </a>
                          <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=<%=clip.clipped_url+' '+ clipText%>&amp;src=sdkpreparse" target="_blank" class="fb-xfbml-parse-ignore"><i class="fab fa-facebook fa-lg"></i></a>
                          <a class="" href="https://twitter.com/intent/tweet?text=<%=clip.clipped_url+' '+ clipText%>" data-size="large" target="_blank">
                            <i class="fab fa-twitter fa-lg"></i>
                          </a>
                      </td>
                      <td>
                        <a class="long-url" href="<%=clip.long_url%>"><%=clip.long_url%></a>
                      </td>
                      <td id="col-expiry">
                        <%=clip.expiry_date ? new Date(clip.expiry_date).toDateString() : '—' %>
                      </td>
                    </tr>
                    <%}%>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Button to trigger modal -->
    <div class="modal fade" id="chartModal" tabindex="-1" role="dialog" aria-labelledby="chartModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-body">
            <div class="col-sm-12">
              <!-- <form>
                <div class="form-row align-items-center mb-1">
                  <div class="col-sm-5 col-md-5 my-1">
                    <input style="width:100%;" type="date" class="form-control" id="dateFrom" placeholder="From" onfocusin="(this.type='date')" onfocusout="(this.type='text')">
                  </div>
                  <div class="col-sm-5 col-md-5 my-1">
                    <input style="width:100%;" type="date" class="form-control" id="dateTo" placeholder="To" onfocusin="(this.type='date')" onfocusout="(this.type='text') ">
                  </div>
                  <div class="col-md-1 my-1">
                    <button type="submit" class="btn btn-primary"><i class="fa fa-paper-plane"></i></button>
                  </div>
                </div>
              </form> -->
            </div>
            <ul class="nav nav-tabs mt-0" id="myTab" role="tablist" style="font-size: 0.8em;">
              <li class="nav-item">
                <a class="nav-link active" id="getChartId" data-clip="" onclick="getChartInfo(event, 'device')" data-toggle="tab" href="#device" role="tab" aria-controls="device" aria-selected="true">Device</a>
              </li>
              <!-- <li class="nav-item">
                <a class="nav-link" id="getChartId" data-clip="" onclick="getChartInfo(event, 'location')" data-toggle="tab" href="#location" role="tab" aria-controls="location" aria-selected="false">Location</a>
              </li> -->
            </ul>
            <div class="tab-content" id="myTabContent">
              <div class="tab-pane fade show active" id="device-div" role="tabpanel" aria-labelledby="device-tab">
                <div class="loader" id="device"></div>
              </div>
              <div class="tab-pane fade" id="location-div" role="tabpanel-div" aria-labelledby="location-tab">
                <div class="loader" id="location"></div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>

 <% include partials/footer %>
 
